#050fa0
section {
    background-color: white;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #050fa0;
}

ul, ol {
    padding-left: 1.5rem;
}

main ul li, ol li {
    margin-bottom: 0.5rem;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
