.content {
    margin: 0 auto;
    width: 300px;
    padding: 40px;
    background-color: transparent;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid beige;
    border-radius: 30px;
    
}
main{
    padding: 50px;
    background: linear-gradient(180deg, #04fafd, 5%, #119dff, 50%, #030423);
    
}
footer{
    margin-top: 0px;
}

.content img {
    display: block;
    margin: 0 auto 20px;
}

.content h1 {
    text-align: center;
    margin-bottom: 20px;
}

.content p {
    margin-bottom: 15px;
}

.content label {
    display: block;
    margin-bottom: 5px;
}

.content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.content button {
    width: 100%;
    padding: 10px;
    background-color: #1a73e8;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.content button:hover {
    background-color: #155ab6;
}

.content a {
    color: #1a73e8;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 10px;
}

.content a:hover {
    text-decoration: underline;
}
