.container{
    border: 2px solid black;  
    background-color:#1371b9 ; 
}
.container img{
    width:100%;
    height: auto;

}
.block { 
    padding: 10px;
  
}
.container-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between boxes as needed */
}
.container {
    flex: 1 1 calc(25.33% - 50px); /* Adjust the width of each box */
    box-sizing: border-box;
    border: 1px solid #ccc; /* Optional: Add border for better visualization */
    padding: 5px; /* Optional: Add padding inside each box */
    color: white;
}
