section#staff {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section#staff h2, section#staff h3 {
    color: #333;
}

section#staff ul {
    list-style: none;
    padding: 0;
}

section#staff ul li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
}
h1{
    color:#050fa0;
}

